/* CSS Reset (Simplified) */
html, body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   overflow-x: hidden;
   width: 100%;
}

/* Variables */
:root {
   --primary-color: #0F427A;
   --secondary-color: #333;
   --text-color: white;
   --font-size-base: 1rem;
   --border-radius: 10px;
}

header {
   display: flex;
   justify-content: right;
}

.logo {
   width: 150px;
}
.hr {
   width: 80%; 
   margin: 20px auto; 
   border-top: 2px solid #ccc;
}

/* Navigation */

.navbar {
   height: 80px;
   align-items: center; /* Vertically center the content */
   justify-content: space-between; /* Space out the items */
   margin-left: auto;
   margin-right: auto;
   position: relative;
   z-index: 3; /* Higher than the overlay */
}
.navbar-collapse {
   background-color: white;
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   z-index: 1000;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Main Content Area */
main {
   
   min-width: 344px;
   background-image: url("../images/travel.jpg");
   background-size: cover;
   background-position: center;
   padding: 25px;
   position: relative;
   background-color: rgba(0, 0, 0, 0.5);
   background-blend-mode: overlay;
}

/* Mobile first Web Part  */
.container {
   flex: 1;
   background: white;
   padding: 2rem;
   border-radius: 10px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   min-width: 328px;
   text-align: center;
   margin: 8px auto;
   
}

#map {
   width: 100%;
   height: 400px;
   border-radius: 10px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.btn-custom {
   background-color: var(--primary-color);
   color: var(--text-color);
   border: none;
   padding: 10px 20px;
   font-size: var(--font-size-base);
   border-radius: var(--border-radius);
   width: 200px;
   transition: background-color 0.3s ease-in-out;
   text-align: center;
   margin-top: 20px;
}

.btn-custom:hover {
   background-color: var(--secondary-color);
}

.btn-custom-outline {
   background-color: var(--text-color);
   color: var(--primary-color);
   border: 2px solid var(--primary-color);
}

.btn-custom-outline:hover {
   background-color: var(--primary-color);
   color: var(--text-color);
}

.form-label {
   display: block;
   text-align: left;
   font-size: 1.0 rem;
   font-weight: 500;
   margin-bottom: 0.5rem;
}

/* Footer */
.footer {
   background-color: var(--secondary-color);
   color: var(--text-color);
   padding: 40px 0;
   width: 100%;
}

.footer-item {
   margin: 0;
   padding: 0;
}

.footer-item a {
   text-decoration: none;
   color: var(--text-color);
}

.footer-item a:hover {
   color: #00bcd4;
}

.footer-item.contact-info {
   border-left: 2px solid var(--text-color);
   padding-left: 25px;
}

.footer-item.social-media {
   text-align: right;
   padding-right: 25px;
}

/* Responsive Navbar */
@media (max-width: 768px) {
   
   main {
       flex-direction: column;
   }
   .size, #map{
       flex-basis: 100%;
       max-width: 100%;
   }
   #map{
       height: 344px;
   }
}